.events {
  margin-bottom: 90px;

  @include on-tablet {
    margin-bottom: 100px;
  }

  @include on-desktop {
    margin-bottom: 110px;
  }

  &__top {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 76px;
    }

    @include on-desktop {
      margin-bottom: 70px;
    }
  }

  &__event {
    @include page-grid;

    grid-column: 1 / -1;
  }
}
